<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->



    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="cards">
        <li ng-repeat="card in $ctrl.card">
          <span>{{card.original_text}}</span>
          <input type="text" name="translated_text">
          <input type="hidden" name="card_id">
          <button type="submit" class="btn btn-success">Проверить</button>
        </li>
      </ul>

      <p ng-model="$ctrl.card">
      {{$ctrl.translate}}
      </p>

    </div>
  </div>
</div>